 .achievements {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 45px;
  background-color: $base-color;
  border: none;

  @media (min-width: 660px) {
    position: relative;
    padding-top: 0;
    margin-top: 54px;
    padding-bottom: 52px;
    background-color: $white-color;
    border: 2px solid $color-border;
  }

  @media (min-width: 960px) {
    width: 940px;
    padding: 0;
    min-height: 243px;
  }
}

.achievements__wrapper {

  @media (min-width: 960px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.achievements__title {
  padding: 0;
  width: 225px;
  padding-top: 37px;
  line-height: 18px;
  color: $red-text;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: 660px) {
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    text-align: center;
    padding-top: 1px;
  }
}

.achievements__slogan {
  @media (min-width: 660px) {
    padding: 0 20px;
    background-color: $white-color;
  }
}

.achievements__label {
  position: relative;
  display: block;
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 52px;
  padding-left: 70px;
  color: $color-text;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 39px;
    height: 39px;
    border: 2px solid $color-border;
    border-radius: 2px;
  }

  &:hover::before {
    border: 2px solid $color-text;
  }

  @media (min-width: 660px) {
    width: 100%;
    margin-top: 48px;
    padding-left: 98px;

    &::before {
      left: 38px;
    }
  }

  @media (min-width: 960px) {
    width: 300px;

    &:nth-of-type(1) {
      order: 1;
      width: 313px;
      padding-left: 113px;
    }

    &:nth-of-type(2) {
      order: 4;
      margin: 0;
      padding-left: 111px;
    }

    &:nth-of-type(3) {
      order: 2;
      padding-left: 109px;
    }

    &:nth-of-type(4) {
      order: 5;
      margin: 0;
      padding-left: 115px;
    }

    &:nth-of-type(5) {
      order: 3;
      padding-left: 96px;
    }

    &:nth-of-type(6) {
      order: 6;
      margin: 0;
    }

    &::before {
      top: -5px;
    }

    &:nth-of-type(1)::before {
      left: 54px;
    }

    &:nth-of-type(3)::before {
      left: 49px;
    }

    &:nth-of-type(5)::before {
      left: 36px;
    }

    &:nth-of-type(2)::before {
      left: 52px;
    }

    &:nth-of-type(4)::before {
      left: 55px;
    }
  }
}

.achievements__input:checked + .achievements__label::before {
  border: 2px solid $red-text;
  background-color: $white-color;
  background-image: url(../img/icon-yes-red.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.achievements__input:focus + .achievements__label::before {
  border: 2px solid $color-text;
}
