.advantages {
  position: relative;
}

.advantages__container {
  @media (min-width: 660px) {
    position: relative;
    z-index: 1;
  }
}

.advantages__slogan {
  margin: 0;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 300;
  color: $color-text;
  text-align: center;

  @media (min-width: 660px) {
    font-size: 40px;
    margin-top: 57px;
  }

  @media (min-width: 960px) {
    font-size: 50px;
    margin-top: 72px;
    line-height: 50px;
  }
}

.advantages__wrap {
  position: relative;
  height: 756px;
  background-color: $base-color;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 480px;
  background-size: 157px 320px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
  }

  &::before {
    content: "";
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    height: 35px;
    background: linear-gradient(to right bottom, $white-color 50%, $base-color 50%);
  }

  @media (min-width: 660px) {
    height: 473px;

    &::before {
      top: -10px;
      height: 45px;
    }
  }

  @media (min-width: 960px) {
    min-height: 600px;
    padding-top: 110px;
    background: $base-color;
    background-image: none;

    &::before {
      top: 0;
      height: 90px;
      z-index: 1;
    }
  }
}

.advantages__list {
  @include list-reset;
  padding-top: 35px;
  text-align: center;

  @media (min-width: 660px) {
    height: 470px;
    padding-left: 300px;
    padding-bottom: 0;
    text-align: left;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    z-index: 10;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }
  }

  @media (min-width: 960px) {
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-left: 0;
    text-align: center;
    padding-left: 0;
    background-image: none;
  }
}

.advantages__item {
  margin-bottom: 31px;

  &:nth-child(3) .advantages__text {
    width: 260px;
    margin-left: 10px;
  }

  @media (min-width: 660px) {
    margin-bottom: 35px;


    &:nth-child(1) .advantages__text {
      width: 307px;
    }

    &:nth-child(2) .advantages__text {
      width: 310px;
      margin-left: 10px;
    }

    &:nth-child(3) .advantages__title {
      margin-left: 12px;
    }

    &:nth-child(3) .advantages__text {
      width: 310px;
      margin-left: 11px;
    }
  }

  @media (min-width: 960px) {
    width: 300px;
    padding-top: 260px;
    margin-top: -130px;
    z-index: 20;

    &:nth-child(1) {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: -3px 0;
      background-size: 292px 302px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }

    &:nth-child(2) {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 7px 0;
      background-size: 292px 302px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &:nth-child(3) {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 14px 0;
      background-size: 292px 302px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }

    &:nth-child(1) .advantages__title {
      margin-left: -14px;
      padding-top: 60px;
    }

    &:nth-child(1) .advantages__text {
      width: 250px;
      margin-top: 24px;
      margin-left: 18px;
    }

    &:nth-child(2) .advantages__title {
      margin-left: 0;
      padding-top: 60px;
    }

    &:nth-child(2) .advantages__text {
      width: 250px;
      margin-top: 24px;
      margin-left: 25px;
    }

    &:nth-child(3) .advantages__title {
      width: 230px;
      text-align: center;
      margin-left: 41px;
      padding-top: 60px;
    }

    &:nth-child(3) .advantages__text {
      width: 245px;
      margin-top: 24px;
      margin-left: 33px;
    }
  }
}

.advantages__title {
  margin: 0;
  margin-top: 16px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  @media (min-width: 660px) {
    margin-top: 25px;
    margin-left: 9px;
  }

  @media (min-width: 960px) {
    margin-top: 40px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
  }
}

.advantages__text {
  margin: 0;
  margin-top: 12px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $color-text;

  @media (min-width: 660px) {
    margin-left: 9px;
  }

  @media (min-width: 960px) {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }
}

.advantages__desk {
  display: block;
  margin-top: 27px;
  margin-bottom: 60px;

  @media (min-width: 660px) {
    width: 350px;
    margin-left: 135px;
    margin-top: 10px;
    line-height: 48px;
  }

  @media (min-width: 960px) {
    width: 420px;
    margin-left: 260px;
    margin-top: 6px;
    line-height: 59px;
  }
}

.advantages__word {
  @media (min-width: 660px) {
    display: block;
  }

  @media (min-width: 960px) {
    display: inline;
    margin-left: 5px;
  }
}

.advantages__phrase {
  @media (min-width: 960px) {
    display: block;
  }
}
