.app-use {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  border: none;
  background-color: $base-color;

  @media (min-width: 660px) {
    padding-top: 0;
    height: 308px;
    background-color: $white-color;
    border: 2px solid $color-border;
  }

  @media (min-width: 1200px) {
    width: 435px;
    height: 308px;
    margin-left: 35px;
    margin-top: -8px;
  }
}

.app-use__text {
  padding-top: 39px;
  text-align: center;
  text-transform: uppercase;
  line-height: 18px;
  color: $red-text;

  @media (min-width: 660px) {
    text-align: center;
    padding: 0 25px;
  }
}

.app-use__label {
  display: block;
  position: relative;
  margin-bottom: 45px;
  padding-left: 70px;
  font-size: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $white-color;
    box-shadow: 0 0 0 9px $white-color, 0 0 0 11px $color-border;
  }

  @media (min-width: 660px) {
    margin-top: 50px;
    margin-bottom: 0;
    padding-left: 97px;

    &:nth-of-type(2),
    &:nth-of-type(3) {
      margin-top: 44px;
    }

    &::before {
      left: 49px;
    }

  }

  @media (min-width: 1200px) {
    padding-left: 114px;

    &::before {
      left: 65px;
    }
  }

}

.app-use__input:checked + .app-use__label::before {
  background-color: $red-text;
}
