.app {
  padding-top: 470px;
  background-color: $indigo;
  background-image: url(../img/iphone-hand-mobile@1x.png), url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center 175px, top center;

}

.app__btn {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 40px;
  color: $white-color;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  border: 3px solid $white-color;
  border-radius: 23px;
}

.app__icon-list {
  @include list-reset;
  margin-top: 20px;
  margin-left: 30px;
}

.app__text {
  margin-left: 25px;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

.app__icon-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.app__icon-link {
  display: block;
  width: 60px;
  height: 60px;

}

.app__icon-item:nth-child(1) .app__icon-link {
  background: url(../img/logo-apple.svg) no-repeat;
}

.app__icon-item:nth-child(2) .app__icon-link {
  background: url(../img/logo-android.svg) no-repeat;
}

.app__icon-item:nth-child(3) .app__icon-link {
  background: url(../img/logo-microsoft.svg) no-repeat;
}
