.content-main__header {
  height: 172px;
  background-color: $color-text;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -60px;
  background-size: 100% auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-position: 0 -70px;

  }

  @media (min-width: 660px) {
    height: 330px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: -273px -70px;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-position: 0 -110px;

    }
  }

  @media (min-width: 960px) {
    height: 469px;
    margin-top: -183px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: 50% -10%;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-position: -680px -110px;

    }
  }
}

.content-main__title {
  margin: 0;
  text-align: center;
  padding-top: 30px;
  font-size: 24px;
  font-weight: 300;
  color: $white-color;

  @media (min-width: 660px) {
    font-size: 50px;
    padding-top: 70px;
    line-height: 59px;
  }

  @media (min-width: 960px) {
    margin: 0;
    padding-top: 249px;
    margin-left: 270px;
    width: 400px;
    text-align: center;
  }
}

.content-main__text {
  margin: 0;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 34px;

  @media (min-width: 660px) {
    font-size: 18px;
    margin-top: 92px;
    margin-left: 60px;
    margin-bottom: 0;
    width: 500px;
  }

  @media (min-width: 960px) {
    width: 800px;
    margin-top: 93px;
    margin-left: 70px;
    margin-bottom: 79px;
  }

}

.content-main__text-desk {
  @media (min-width: 960px) {
    display: block;
    margin-left: -328px;
  }
}

.content-main__desk {
  display: none;

  @media (min-width: 660px) {
    display: block;
    margin: 0;
  }

  @media (min-width: 960px) {
    margin-top: -29px;
    margin-left: 200px;
  }

}

.content-main__header--form {

  @media (min-width: 660px) {
    height: 330px;
  }

  @media (min-width: 960px) {
    height: 468px;
  }
}

.content-main__header--form .content-main__title--form {

    @media (min-width: 660px) {
      width: 600px;
      font-size: 50px;
      margin-left: 0;
      margin-left: 20px;
    }
}

