.content-main__header {
  height: 170px;
  background-color: $color-text;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.content-main__title {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  color: $white-color;
}

@media (min-width: 660px) {
  .content-main__header--form {
    height: 330px;
  }

  .content-main__header--form .content-main__title--form {
    height: 330px;
    font-size: 50px;
  }
}
