
.contacts__text {
  margin: 0;
  margin-top: -2px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: $red-text;
}

.contacts__link {
  margin: 0;
  margin-top: -2px;
  margin-left: 22px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: $red-text;
  text-decoration: none;

  &:hover {
    color: $color-text;
    text-decoration: underline;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
  }

  @media (min-width: 660px) {
    margin-left: 30px;
  }
}

.contacts__textual {
  margin: 0;
  margin-top: 43px;
  margin-left: 30px;
  font-size: 24px;
  font-weight: 300;
  color: $color-text;
}

.contacts__desk {
  margin: 0;
  margin-left: 36px;
  font-size: 24px;
  font-weight: 300;
  color: $color-text;
}

.contacts__list {
  @include list-reset;
  margin-bottom: 37px;
}

.contacts__title {
  margin: 0;
  margin-left: 98px;
  margin-top: 29px;
  font-size: 18px;
  font-weight: 700;
}

.contacts__item:nth-child(2) .contacts__title {
  margin-left: 101px;
  margin-top: 17px;

  @media (min-width: 660px) {
    margin-bottom: 3px;
  }

  @media (min-width: 960px) {
    margin-bottom: 23px;
  }
}

.contacts__item:nth-child(2) .contacts__text {
  margin-left: 4px;
  margin-top: 1px;
}

.contacts__item:nth-child(3) .contacts__title {
  margin-left: 42px;
  margin-top: 15px;

  @media (min-width: 660px) {
    margin-left: 52px;
    margin-top: 36px;
  }
}

.contacts__item:nth-child(3) .contacts__text {
  margin-top: 1px;
}

.contacts__word {
  display: block;
  margin-top: -2px;
}

@media (min-width: 660px) {

  .contacts__textual {
    font-size: 40px;
    margin-top: 58px;
    margin-left: 126px;
  }

  .contacts__desk {
    margin-top: 19px;
    margin-left: 137px;
    font-size: 40px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .contacts__item {
    width: 300px;
  }

  .contacts__item:nth-child(1) {
    margin-right: 20px;
  }

  .contacts__item:nth-child(3) {
    margin: 0 auto;
  }

  .contacts__title {
    margin-left: 107px;
    margin-top: 47px;
  }

  .contacts__text {
    margin-top: 2px;
  }

  .contacts__item:nth-child(2) .contacts__title {
    margin-left: 109px;
    margin-top: 48px;
  }

  .contacts__item:nth-child(2) .contacts__text {
    margin-left: 2px;
    margin-top: 3px;
  }


  .contacts__item:nth-child(3) .contacts__text {
    margin-left: 2px;
    margin-top: 4px;
  }

  .contacts__word {
    display: block;
  }
}

@media (min-width: 960px) {
  .contacts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-bottom: 10px;
  }

  .contacts__textual {
    font-size: 50px;
    margin-left: 240px;
    margin-top: 80px;
  }

  .contacts__desk {
    font-size: 50px;
    margin-top: 30px;
    margin-left: 253px;
  }

  .contacts__item:nth-child(1) {
    order: 1;
  }

  .contacts__item:nth-child(2) {
    order: 3;
  }

  .contacts__item:nth-child(3) {
    order: 2;
  }

  .contacts__title {
    margin-top: 68px;
  }

  .contacts__text {
    margin-top: 20px;
  }

  .contacts__item:nth-child(3) .contacts__title {
    margin-left: 42px;
    margin-top: 67px;
  }

  .contacts__item:nth-child(3) .contacts__text {
    margin-left: -25px;
    margin-top: 20px;
  }

  .contacts__item:nth-child(2) .contacts__title {
    margin-top: 67px;
  }

  .contacts__item:nth-child(2) .contacts__text {
    margin-top: 23px;
  }
}
