.content-main__header {
  height: 170px;
  background-color: $color-text;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.content-main__title {
  margin: 0px;
  font-size: 24px;
  font-weight: 300;
  color: $white-color;
}
