.copyright {
  display: flex;
  flex-shrink: 0;
  margin-top: 10px;
  margin-left: 75px;

  @media (min-width: 660px) {
    margin-top: 77px;
    margin-left: 70px;

    &--form {
      margin-top: 47px;
    }
  }

  @media (min-width: 960px) {
    margin-top: 32px;
  }
}

.copyright__text {
  margin: 0;
  margin-right: 10px;

  @media (min-width: 960px) {
    margin-right: 0;
    font-size: 18px;
  }
}

.copyright__link {
  @media (min-width: 660px) {
    margin-left: 5px;
  }

  @media (min-width: 960px) {
    margin-left: 14px;
    width: 27px;
  }
}

.copyright__img {
  fill: $red-text;

  &:hover {
    fill: $color-text;
  }

  &:active {
    fill: $color-text;
    opacity: 0.3;
  }

  &--photo {
    width: 34px;
    height: 34px;
  }
}

.copyright__img--form {
  margin-left: 5px;

  @media (min-width: 660px) {
    margin-left: 0;
  }
}
