.footer-main__wrap-index {
  display: none;

  @media (min-width: 660px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
  }

  @media (min-width: 960px) {
    margin-top: 54px;
  }
}

.footer-main__wrap-index .social {
  @media (min-width: 660px) {
    margin-top: 3px;
  }

  @media (min-width: 960px) {
    margin-top: -16px;
    margin-left: 5px;
  }
}

.footer-main__wrap-index .copyright {
  @media (min-width: 660px) {
    margin-top: 50px;
    margin-left: 69px;
  }

  @media (min-width: 960px) {
    margin-top: 29px;
    margin-left: 65px;
  }
}

.footer-main__logo {
  display: block;
  width: 160px;
  margin-top: 42px;
  margin-left: 34px;

  &--photo {
    margin-top: 42px;
  }

  @media (min-width: 660px) {
    margin: 0;
    margin-top: 32px;
  }

  @media (min-width: 960px) {
    margin-top: 8px;
  }
}

.footer-main__wrap-index .footer-main__logo {
  @media (min-width: 660px) {
    margin-top: 35px;
  }

  @media (min-width: 960px) {
    margin-top: 15px;
  }

}

.footer-main__wrap .footer-main__logo {
  margin-left: 66px;

  @media (min-width: 660px) {
    margin-left: 0;
  }

  @media (min-width: 960px) {
    margin-top: 0;
  }
}

.footer-main__wrap .social {

}

.footer-main__wrap--footer .footer-main__logo {
  margin-top: 55px;

  @media (min-width: 660px) {
    margin-top: 34px;
  }

  @media (min-width: 960px) {
    margin-top: 17px;
  }
}

.footer-main__wrap--footer .social {
  @media (min-width: 960px) {
    margin-top: -15px;
    margin-left: 16px;

  }
}

.footer-main--photo .footer-main__wrap {

  @media (min-width: 660px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
  }

  @media (min-width: 960px) {
    margin-top: 80px;
  }
}

.footer-main--form .footer-main__wrap {
  @media (min-width: 660px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
  }
}

.footer-main--form {
  @media (min-width: 660px) {
    margin-top: 53px;
  }
}
