.footer-main__wrap-index {
  display: none;

  @media (min-width: 660px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
  }

  @media (min-width: 960px) {
    margin-top: 54px;
  }
}

.footer-main__wrap-index .social {
  @media (min-width: 660px) {
    margin-top: 10px;
  }

  @media (min-width: 960px) {
    margin-top: -10px;
    margin-left: 30px;
  }
}

.footer-main__wrap-index .copyright {
  @media (min-width: 660px) {
    margin-top: 50px;
    margin-left: 69px;
  }

  @media (min-width: 960px) {
    margin-top: 29px;
    margin-left: 65px;
  }
}

.footer-main__logo {
  display: block;
  width: 160px;
  margin-top: 42px;
  margin-left: 34px;

  &--photo {
    margin-top: 42px;
  }

  @media (min-width: 660px) {
    margin: 0;
    margin-top: 32px;
  }

  @media (min-width: 960px) {
    margin-top: 8px;
  }
}

/*.footer-main__logo--tablet {
  @media (min-width: 960px) {
    display: none;
  }
}

.footer-main__logo--tablet .glass {
  fill: #d22856;
}

.footer-main__logo--desktop {
  display: none;

  @media (min-width: 660px) {
    display: none;
  }

  @media (min-width: 960px) {
    display: block;
  }
}*/

.footer-main--photo .footer-main__wrap {

  @media (min-width: 660px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
  }

  @media (min-width: 960px) {
    margin-top: 80px;
  }
}

@media (min-width: 660px) {

  .footer-main--form .footer-main__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
  }

  .footer-main--form {
    margin-top: 53px;
  }
}
