.page-form__btn {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  color: $white-color;
  background-color: #2aab6d;
}

.page-form__desk {
  color: $red-text;
}

.page-form__text {
  text-transform: uppercase;
}

@media (min-width: 660px) {
  .page-form {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  .user-data {
    order: 1;
  }

  .app-use {
    order: 2;
  }

  .user-data--network {
    order: 3;
  }

  .achievements {
    order: 4;
  }

  .review {
    order: 5;
  }

  .page-form__wraper {
    order: 6;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
  }

  .page-form__btn {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .page-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .page-form__wraper {
    width: 940px;
  }
}
