.page-form__btn {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  color: $white-color;
  background-color: #2aab6d;
}

.page-form__desk {
  color: $red-text;
}

.page-form__text {
  text-transform: uppercase;
}
