
.panorama {
  position: relative;

  @media (min-width: 660px) {
    width: 660px;
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    width: 1200px;
    margin: 0 auto;
  }

}

.panorama__wrap {
  margin-top: -10px;
  margin-bottom: 20px;
  height: 190px;
  /*background-color: $base-color;*/

  @media (min-width: 660px) {
    width: 620px;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-bottom: 50px;
  }

  @media (min-width: 1200px) {
    width: 940px;
    height: 95px;
    padding: 0;

  }

}

.panorama__desc {
  display: block;
  position: absolute;
  top: 0;
  left: 160px;
  width: 140px;
  padding-top: 10px;
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: $red-text;
  color: $white-color;
  z-index: 10;

  @media (min-width: 660px) {
    top: 60px;
    left: 500px;
    padding-bottom: 10px;
  }

  @media (min-width: 1200px) {
    top: 55px;
    left: 930px;
    padding-top: 9px;
  }
}

.panorama__img {
  @media (min-width: 660px) {
  display: block;
  width: 660px;
  height: 510px;
  margin: 0 auto;
  }
  @media (min-width: 1200px) {
    width: 1200px;
    height: 504px;
    margin: 0 auto;
  }
}

.panorama__meta {
  padding-top: 15px;
  margin-bottom: 0;
  margin-left: 18px;

  @media (min-width: 660px) {
    width: 400px;
    padding-top: 32px;
    margin-left: 0;
    order: 1;
  }

  @media (min-width: 1200px) {
    margin-right: 317px;
  }

}

.panorama__author {
  line-height: 24px;
  font-weight: 700;

  @media (min-width: 660px) {
    margin-left: 27px;
  }
}

.panorama__meta .post__author {
  margin-left: 17px;

  @media (min-width: 660px) {
    margin-left: 27px;
  }
}

.panorama__textual {
  margin: 0;
  margin-top: -4px;
  margin-left: 17px;
  line-height: 24px;

  @media (min-width: 660px) {
    order: 3;
    width: 515px;
    height: 30px;
    margin-left: 27px;
    margin-top: -37px;
  }

  @media (min-width: 1200px) {
    width: 900px;
    margin-top: -10px;
  }
}

.panorama__likes {
  position: relative;
  margin-left: 16px;
  margin-top: 7px;

  @media (min-width: 660px) {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    height: 20px;
    margin-top: 25px;
    margin-left: 72px;
  }
}

.panorama__btn-likes {
  margin-top: 5px;
  border: none;
  background-color: #f2f2f2;

  &::before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 10px;
    left: 2px;
    background: url("../img/icon-heart.svg") no-repeat;
  }

  @media (min-width: 660px) {
    order: 3;

    &::before {
      top: 15px;
      left: 106px;
    }
  }
}

.panorama__wording {
  margin-left: 17px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $red-text;

  @media (min-width: 660px) {
    order: 1;
    margin-right: 3px;
    margin-left: 0;
    margin-top: 10px;
  }
}

.panorama__number-likes {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $red-text;

  @media (min-width: 660px) {
    order: 2;
    margin-right: 5px;
    margin-top: 10px;
  }

}
