.post {
  margin-bottom: 20px;
}

.post__wrap {
  margin-top: -10px;
  padding-left: 17px;
  background-color: $base-color;
}

.post__author {
  line-height: 24px;
  font-weight: 700;
}

.post__load-time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__textual {
  line-height: 24px;
}

.post__wording {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $red-text;
}

.post__number-likes {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $red-text;
}

.post--panorama {
  position: relative;
}

.post__desc {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $red-text;
  color: $white-color;
  z-index: 10;
}

.post__btn-likes::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background: url("../img/icon-heart.svg") no-repeat;
}

@media (min-width: 660px) {

  .post__wrap--panorama {
    width: 620px;
  }

  .post__img-panorama {
    width: 660px;
    height: 510px;

  }

  .post {
    width: 300px;
  }

  .post__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .post:nth-child(2n+1) {
    margin-right: 20px;
  }

  .post__likes {
    display: flex;
    flex-shrink: 0;
  }

  .post__btn-likes {
    order: 2;
    margin-left: 150px;
  }

  .post__wrap--panorama {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .post__meta--panorama {
    margin-right: 300px;
  }

  .post__btn-likes--panorama {
    margin-left: 0;
  }

  .post__textual--panorama {
    order: 3;
  }
}

@media (min-width: 1200px) {
  .post__wrap--panorama {
    width: 940px;
  }

  .post__meta--panorama {
    margin-right: 600px;
  }
  .post {
    margin-right: 20px;
  }

  .post:nth-child(3n+1) {
    margin-right: 0;
  }

  .post__img-panorama {
    width: 1200px;
    height: 504px;

  }
}
