.prices__container {
  width: 320px;
  margin: 0 auto;
}

.prices {
  position: relative;
  padding-bottom: 47px;
  background-color: $base-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background: linear-gradient(to right bottom, $white-color 50%, $base-color 50%);
  }
}

.prices__table {
  overflow: hidden;
}

.prices__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  transition-duration: 0.3s;
  transition-property: transform;
  margin-top: 65px;
}

.prices__list {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  width: 87%;
  margin-top: 25px;
  overflow: hidden;
}

.prices__list:nth-child(2) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: -25px;
    width: 108px;
    height: 30px;
    transform: rotate(-45deg);
    background-color: #d22856;
    z-index: 1;
    padding-top: 3px;
  }

  &::after {
    content: "ХИТ";
    position: absolute;
    top: 15px;
    left: 10px;
    font-family: "OpenSansLight", "Arial", sans-serif;
    font-weight: 300;
    color: #283645;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    transform: rotate(-45deg);
    z-index: 2;
  }

  @media (min-width: 660px) {
    &::before {
      top: -4px;
    }

    &::after {
      top: 4px;
      left: 7px;
    }
  }

  @media (min-width: 960px) {
    &::before {
      top: 13px;
      left: -26px;
    }

    &::after {
      top: 10px;
      left: 15px;
    }
  }
}

.prices__name,
.prices__desk {
  margin: 0;
  padding: 0;
  background-color: $white-color;
}

.prices__name {
  flex-basis: 76%;
  width: 76%;
  padding-top: 18px;
  padding-left: 22px;
  text-transform: uppercase;
  color: $color-text;
  border-left: 2px solid $color-border;
  border-bottom: 2px solid $color-border;

}

.prices__name--header,
.prices__desk--header {
  flex-basis: 100%;
  width: 100%;
  background-color: $color-text;
  color: $white-color;
  text-align: center;
  border-left: 2px solid $color-border;

}

.prices__name--header {
  font-size: 18px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 3px;
  text-transform: uppercase;
  border-bottom: none;
}

.prices__desk--header {
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.prices__available {
  padding: 0;
  margin: 0;
  flex-basis: 24%;
  width: 24%;
  border-bottom: 2px solid $color-border;
}

.prices__available::before {
  content: "";
  display: block;
  width: 65px;
  height: 60px;
  margin-left: auto;

}

.prices__available--yes {
  background: $white-color url(../img/icon-table-yes.svg) no-repeat;
  background-position: center center;

}

.prices__available--no {
  background: $white-color url(../img/icon-no.svg) no-repeat;
  background-position: center center;
}

.prices__controls {
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.prices__control {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 7px;
  background-color: #b5b9be;
  border: 3px solid $base-color;
  border-radius: 50%;
}

.prices__control:hover {
  background-color: rgba(40, 54, 69, 0.3);
}

.prices__control:active {
  background-color: rgba(40, 54, 69, 0.1);
}

.prices__input--1:checked ~ .prices__table .prices__content {
  transform: translateX(0);
}

.prices__input--1:checked ~ .prices__controls .prices__control--01 {
  width: 12px;
  height: 12px;
  background-color: $base-color;
  border: 3px solid $color-text;

}

.prices__input--2:checked ~ .prices__table .prices__content {
  transform: translateX(-81%);
}

.prices__input--2:checked ~ .prices__controls .prices__control--02 {

  width: 12px;
  height: 12px;
  background-color: $base-color;
  border: 3px solid $color-text;
}

.prices__input--3:checked ~ .prices__table .prices__content {
  transform: translateX(-170%);
}

.prices__input--3:checked ~ .prices__controls .prices__control--03 {
  width: 12px;
  height: 12px;
  background-color: $base-color;
  border: 3px solid $color-text;
}

@media (min-width: 660px) {

  .prices__container {
    width: 620px;
    margin: 0 auto;
  }

  .prices {
    position: relative;
    padding-top: 0;
    padding-bottom: 65px;

    &::before {
      top: -50px;
      height: 50px;
    }
  }

  .prices__content {
    margin-top: 39px;
  }

  .prices__controls {
    display: none;
  }

  .prices__table {
    width: 620px;
  }

  .prices__list {
    margin: 0;
  }

  .prices__list:nth-child(1) {
    width: 310px;
    flex-shrink: 0;
    justify-content: flex-start;
  }

  .prices__list:nth-child(2),
  .prices__list:nth-child(3) {
    width: 155px;
  }

  .prices__list:nth-child(2) .prices__name,
  .prices__list:nth-child(3) .prices__name {
    display: none;
  }

  .prices__list:nth-child(2) .prices__name--header,
  .prices__list:nth-child(3) .prices__name--header {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    margin-left: 0;
    margin-left: -2px;
    padding-left: 35px;
  }

  .prices__list:nth-child(3) .prices__name--header {
    padding-left: 45px;
  }

  .prices__list:nth-child(2) .prices__desk--header,
  .prices__list:nth-child(3) .prices__desk--header {
    margin-left: -2px;
    padding-left: 0;
  }

  .prices__list .prices__name:nth-of-type(2),
  .prices__list .prices__name:nth-of-type(3),
  .prices__list .prices__name:nth-of-type(4) {
    height: 47px;
    padding: 0;
    padding-top: 5px;
    padding-left: 15px;
  }

  .prices__name {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 155px;
    width: 155px;
    text-transform: none;
    border-right: 2px solid $color-border;
  }

  .prices__name--header,
  .prices__desk--header {
    flex-basis: 155px;
    width: 155px;
    margin-left: 153px;

  }

  .prices__name--header {
    padding: 0;
    padding-top: 11px;
    font-size: 16px;
    text-transform: uppercase;
  }

  .prices__desk--header {
    padding-bottom: 10px;
    margin-top: -2px;
    font-size: 18px;
  }

  .prices__available {
    flex-basis: 155px;
    width: 155px;
    height: 47px;
    border-right: 2px solid $color-border;
  }

  .prices__name--collumn {
    border-top: 2px solid $color-border;

  }

  .prices__name--header {
    border-right: none;
  }


}

@media (min-width: 960px) {
  .prices {
    padding-bottom: 95px;

    &::before {
      top: -73px;
      height: 100px;
    }
  }

  .prices__container {
    width: 940px;
    margin: 0 auto;
  }

  .prices__content {
    margin-top: 73px;
  }

  .prices__table {
    width: 940px;
  }

  .prices__list:nth-child(1) {
    width: 470px;
  }

  .prices__list:nth-child(2),
  .prices__list:nth-child(3) {
    width: 236px;
  }

  .prices__name {
    flex-basis: 235px;
    width: 235px;
  }

  .prices__name--header,
  .prices__desk--header {
    flex-basis:235px;
    width: 235px;
    margin-left: 235px;
  }

  .prices__available {
    flex-basis: 235px;
    width: 235px;
    height: 61px;
  }

  .prices__name--header {
    padding-top: 16px;
    font-size: 18px;
  }

  .prices__desk--header {
    padding-bottom: 20px;
    padding-top: 4px;
    font-size: 24px;
  }

  .prices__list:nth-child(2) .prices__name--header {
    padding-left: 68px;
  }

  .prices__list:nth-child(3) .prices__name--header {
    padding-left: 80px;
  }

  .prices__list:nth-child(2) .prices__desk--header,
  .prices__list:nth-child(3) .prices__desk--header {
    padding-left: 0;
  }

  .prices__list .prices__name:nth-of-type(2),
  .prices__list .prices__name:nth-of-type(3),
  .prices__list .prices__name:nth-of-type(4) {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 235px;
    width: 235px;
    height: 61px;
    font-size: 18px;
    padding-top: 13px;
    padding-left: 20px;
    box-sizing: border-box;
  }

}
