 .reviews {
  position: relative;
  padding-bottom: 50px;
 }

 .reviews__list {
  height: 300px;
  @include list-reset;
  position: relative;
}

.reviews__item  {
  height: 370px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.reviews__blockquote {
  margin: 0;
  color: $color-text;
  text-align: center;
}

.reviews__author {
  display: block;
  margin-top: 42px;
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  font-style: normal;
}

.reviews__input--1:checked ~ .reviews__list .reviews__item--1 {
  opacity: 1;
}

.reviews__input--2:checked ~ .reviews__list .reviews__item--2 {
  opacity: 1;
}
.reviews__input--3:checked ~ .reviews__list .reviews__item--3 {
  opacity: 1;
}

.reviews__text {
  display: none;
}

.reviews__controls {
  position: absolute;
  bottom: 40px;
  left: 110px;
  margin-left: 14px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.reviews__control {
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 6px;
  background-color: #b5b9be;
  border: 3px solid $white-color;
  border-radius: 50%;
}

.reviews__input--1:checked ~ .reviews__controls .reviews__control--1 {
  width: 13px;
  height: 13px;
  background-color: $white-color;
  border: 3px solid $color-text;
}

.reviews__input--2:checked ~ .reviews__controls .reviews__control--2 {
  width: 13px;
  height: 13px;
  background-color: $white-color;
  border: 3px solid $color-text;
}

.reviews__input--3:checked ~ .reviews__controls .reviews__control--3 {
  width: 13px;
  height: 13px;
  background-color: $white-color;
  border: 3px solid $color-text;
}

@media (min-width: 660px) {

  .reviews {
    padding-bottom: 35px;
  }
  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__text {
    display: block;
    margin: 0;
    margin-left: 224px;
    margin-top: 3px;
  }

  .reviews__blockquote {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 32px;
  }

  .reviews__author {
    order: 2;
    margin-top: 34px;
    margin-left: -4px;
    margin-bottom: 0;
    letter-spacing: 1px;
  }

  .reviews__controls {
    bottom: 75px;
    left: 278px;
  }
}

@media (min-width: 960px) {

  .reviews {
    min-height: 490px;
    padding-bottom: 0;
  }

  .reviews__controls {
    display: none;
  }

  .reviews__blockquote  {
    margin: 0;
    padding-top: 187px;
    width: 710px;
    min-height: 360px;
    margin-left: 115px;

      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: center 74px;
      background-size: 78px 63px;

  }

  .reviews__author {
    margin-top: 36px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
  }

  .reviews__text {
    margin-top: -15px;
    font-size: 18px;
    margin-left: 358px;
  }

  .reviews__paginator--1 {
    display: block;
    position: absolute;
    top: 215px;
    left: 130px;
    width: 50px;
    height: 50px;
    background-image: url(../img/icon-review-arrow-left.svg);
    background-repeat: no-repeat;
    background-size: 21px 41px;
  }

  .reviews__paginator--2 {
    display: block;
    position: absolute;
    top: 215px;
    right: 100px;
    width: 50px;
    height: 50px;
    background-image: url(../img/icon-review-arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 21px 41px;
  }
}
