.review {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 40px;
  border: none;

  @media (min-width: 660px) {
    position: relative;
    padding-top: 0;
    margin-top: 50px;
    padding-bottom: 42px;
    border: 2px solid $color-border;
  }

  @media (min-width: 960px) {
    width: 940px;
    min-height: 230px;
    padding-bottom: 0;
  }
}

.review__title {
  margin-left: 40px;
  padding-top: 33px;
  text-transform: uppercase;
  color: $red-text;
  text-align: center;

  @media (min-width: 660px) {
    width: 100%;
    position: absolute;
    top: -49px;
    left: 0;
    margin: 0;
  }
}

.review__slogan {
  padding: 0 20px;
  background-color: $white-color;
}

.review__textarea {
  width: 100%;
  min-height: 200px;
  padding-top: 14px;
  padding-left: 22px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $color-border;
  border-radius: 2px;
  color: $color-text;
  outline: 0;

  &:hover {
    border: 2px solid $color-text;
  }

  &:active {
    border: 2px solid $red-text;
  }

  @media (min-width: 660px) {
    width: 500px;
    min-height: 192px;
    margin-top: 30px;
    margin-left: 38px;
    padding-left: 19px;
  }

  @media (min-width: 960px) {
    width: 820px;
    min-height: 127px;
    margin-top: 26px;
  }
}

.review__textarea::placeholder {
  color: $indigo;
}
