.scientific-data {
  display: none;

  @media (min-width: 660px) {
    display: block;
    min-height: 400px;
  }

  @media (min-width: 1200px) {
   min-height: 455px;
  }

}

@media (min-width: 660px) {

  .scientific-data__wrap {
    position: relative;
    width: 640px;
    padding-left: 300px;
    padding-top: 50px;
    background-image: url("../img/icon-editor-diagram-fill.svg"), url("../img/icon-timer.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 20px 115px , 0 15px;
    background-size: 200px 200px, 240px 360px;

    &:before {
      content: "24";
      position: absolute;
      top: 194px;
      left: 65px;
      font-family: "Open Sans", "Arial", sans-serif;
      font-size: 96px;
      font-weight: 700;
      color: $red-text;
    }

  }

  .scientific-data__appeal {
    margin: 0;
    margin-top: 45px;
    margin-left: 9px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000;
  }

  .scientific-data__desk {
    display: block;

  }

  .scientific-data__text {
    width: 300px;
    margin: 0;
    margin-left: 9px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
  }

  .scientific-data__link {
    margin-top: 10px;
    margin-left: 9px;
    line-height: 24px;
    color: #d22856;
    display: block;
  }

  br {
    display: none;
  }

}

@media (min-width: 1200px) {

  .scientific-data__wrap {
    width: 900px;
    padding-left: 340px;
    padding-bottom: 50px;
    background-position: 23px 115px , 0 37px;
    background-size: 250px 250px, 300px 360px;

    &:before {
      top: 218px;
      left: 80px;
      font-size: 120px;
    }
  }

  .scientific-data__desk {
    display: inline;
  }

  .scientific-data__appeal {
    margin-top: 85px;
    margin-left: 25px;
  }

  .scientific-data__text {
    width: 530px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 22px;
    margin-left: 26px;
  }

  br {
    display: block;
  }

  .scientific-data__link {
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 26px;
  }
}
