.social {
  @media (min-width: 660px) {
    margin-top: 7px;
    margin-left: 24px;
  }

  @media (min-width: 960px) {
    margin-top: -8px;
    margin-left: 43px;
  }
}
.social__list {
  width: 200px;
  height: 80px;
  @include list-reset;
  display: flex;
  flex-shrink: 0;
  margin-top: 30px;
  margin-left: 51px;
}

.social__item {
  width: 60px;
  height: 60px;
  margin-right: 3px;
}

.social__link {
  display: block;
  width: 50px;
  height: 50px;
  border: 3px solid #e9ebec;
  border-radius: 50%;

  &:hover {
    border-color: #000000;
  }

  &:active {
    border-color: #000000;
    opacity: 0.1;
  }
}

.social__link--tw {
  background: url("../img/icon-twitter.svg") no-repeat center center;
}

.social__link--f {
  background: url("../img/icon-facebook.svg") no-repeat center center;
}

.social__link--yt {
  background: url("../img/icon-youtube.svg") no-repeat center center;
}
