.social__list {
  width: 200px;
  height: 80px;
  @include list-reset;
  display: flex;
  flex-shrink: 0;
}

.social__item {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.social__link {
  display: block;
  width: 60px;
  height: 60px;

  border: 2px solid #e9ebec;
  border-radius: 50%;
}

.social__link--tw {
  background: url("../img/icon-twitter.svg") no-repeat center center;
}

.social__link--f {
  background: url("../img/icon-facebook.svg") no-repeat center center;
}

.social__link--yt {
  background: url("../img/icon-youtube.svg") no-repeat center center;
}
