.upload {
  @media (min-width: 660px) {
    padding-bottom: 17px;
  }

  @media (min-width: 1200px) {

  }
}

.upload__text {
  margin: 0;
  margin-top: 37px;
  text-align: center;

  &:nth-child(2) {
    margin-top: 0;
    margin-bottom: 44px;
  }

  @media (min-width: 660px) {
    font-size: 18px;
    margin-top: 45px;
  }

  @media (min-width: 1200px) {
     margin-top: 38px;
  }
}

.upload__img {
  @media (min-width: 660px) {
    width: 300px;
    margin-top: 60px;
    margin-right: 40px;
  }

  @media (min-width: 1200px) {
    margin-right: 88px;
    margin-left: 80px;
   }
}
.upload__content {
  padding-top: 18px;
  /*background-color: $base-color;*/

}

.upload__wrap {
  @media (min-width: 660px) {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
  }
}

.upload__form {
  @media (min-width: 660px) {
    width: 280px;
  }

  @media (min-width: 1200px) {
    width: 420px;
  }
}

.upload__btn {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid $red-text;
  border-radius: 25px;
  color: $red-text;
  background-color: $base-color;

  &--post {
    margin-top: 40px;
    margin-bottom: 12px;
  }

  &--cancel {
    margin-bottom: 40px;
    border: 3px solid #dddfe0;
    color: #dddfe0;
  }

  @media (min-width: 660px) {
    width: 260px;
    margin-left: 9px;

    &--post {
      margin-top: 90px;
      margin-bottom: 25px;
    }
  }

  @media (min-width: 1200px) {
    width: 183px;

    &--post {
      margin-top: 139px;
      margin-right: 40px;
      margin-left: 2px;
    }

    &--cancel {
      margin-left: 0;
    }
  }
}

.upload__tools {
  position: relative;
  margin-top: 20px;
  margin-left: 18px;
  margin-bottom: 23px;

  @media (min-width: 660px) {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-top: 60px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.upload__tool {
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent; /*$base-color;*/

  &--size {
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 10px;
    background-image: url("../img/icon-editor-crop.svg");
    background-repeat: no-repeat;
  }

  &--fill {
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 10px;
    background-image: url("../img/icon-editor-fill.svg");
    background-repeat: no-repeat;
  }

  &--contrast {
    margin-top: 18px;
    margin-left: 15px;
    background-image: url("../img/icon-editor-contrast.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: 660px) {
    margin: 0;
  }

  @media (min-width: 1200px) {
    margin-right: 35px;

    &--size {
      margin-top: -3px;

    }

    &--fill {
      margin-top: 15px;
      margin-left: 2px;
    }

    &--contrast {
      margin-top: 15px;
      margin-left: 8px;
      margin-right: 27px;
    }
  }
}

.upload__scale {
  position: relative;
  margin-bottom: 10px;
  height: 30px;
  margin-top: -10px;

  &::after {
    content: "";
    position: absolute;
    bottom: -24px;
    left: -40px;
    width: 320px;
    height: 1px;
    border-bottom: 1.5px solid #dddfe0;;
    z-index: 20;
  }

  &:nth-of-type(1),
  &:nth-of-type(2) {
    display: none;
  }

  @media (min-width: 660px) {
    margin-top: 5px;
    margin-bottom: 0;

    &::after {
      width: 280px;
      left: -60px;
    }

    &:nth-of-type(1),
    &:nth-of-type(2) {
      display: block;
    }

    &:nth-of-type(2) {
      margin-top: 19px;
    }

    &:nth-of-type(3) {
      margin-top: 28px;
    }
  }

  @media (min-width: 1200px) {
    margin-top: 2px;

    &::after {
      width: 410px;
      left: -92px;
    }


    &:nth-of-type(2) {
      margin-top: 18px;
    }

    &:nth-of-type(3) {
      margin-top: 13px;
    }
  }

}

.upload__input {
  -webkit-appearance: none;
  width: 240px;
  height: 2px;
  background-color: #283645;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background-color: $base-color;
    border: 2px solid $red-text;
    border-radius: 50%;
    cursor: pointer;
  }

  @media (min-width: 660px) {
    width: 200px;
  }

  @media (min-width: 1200px) {
    width: 287px;

  }


}


