.upload {
  @media (min-width: 660px) {
    padding-bottom: 17px;
  }

  @media (min-width: 960px) {

  }
}

.upload__text {
  margin: 0;
  margin-top: 42px;
  margin-left: -3px;
  text-align: center;

  &:nth-child(2) {
    margin-top: 0;
    margin-bottom: 44px;
  }

  @media (min-width: 660px) {
    font-size: 18px;
    margin-top: 47px;

    &:nth-child(2) {
      margin-left: -6px;
    }
  }

  @media (min-width: 960px) {
    margin-top: 50px;
    margin-left: 2px;

    &:nth-child(2) {
      margin-left: 2px;
    }
  }
}

.upload__img {
  @media (min-width: 660px) {
    width: 300px;
    margin-top: 60px;
    margin-right: 40px;
  }

  @media (min-width: 960px) {
    margin-right: 88px;
    margin-left: 80px;
   }
}
.upload__content {
  padding-top: 18px;
  background-color: $base-color;

}

.upload__wrap {
  @media (min-width: 660px) {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
  }
}

.upload__form {
  @media (min-width: 660px) {
    width: 280px;
  }

  @media (min-width: 960px) {
    width: 420px;
  }
}

.upload__btn {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid $red-text;
  border-radius: 25px;
  color: $red-text;
  background-color: $base-color;

  &--post {
    margin-top: 40px;
    margin-bottom: 12px;
  }

  &--cancel {
    margin-bottom: 40px;
    border: 3px solid #dddfe0;
    color: #dddfe0;
  }

  &:hover {
    background-color: $red-text;
    color: $white-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: 660px) {
    width: 260px;
    margin-left: 9px;

    &--post {
      margin-top: 90px;
      margin-bottom: 25px;
    }
  }

  @media (min-width: 960px) {
    width: 183px;

    &--post {
      margin-top: 139px;
      margin-right: 40px;
      margin-left: 2px;
    }

    &--cancel {
      margin-left: 0;
    }
  }
}

.upload__tools {
  position: relative;
  margin-left: 18px;
  margin-bottom: 23px;

  @media (min-width: 660px) {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-top: 60px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.upload__tool {
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  border: none;
  background-color: $base-color;

  &:hover {
    fill: #b5b9be;
  }

  &:active {
    fill: $red-text;
  }


  &--size {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    fill: $red-text;
  }

  &--fill {
    margin-left: 6px;
    margin-right: 10px;
    fill: #b5b9be;
  }

  &--contrast {
    margin-left: 7px;
    fill: #b5b9be;
  }

  @media (min-width: 660px) {
    margin: 0;
  }

  @media (min-width: 960px) {
    margin-right: 35px;

    &--size {
      margin-top: -3px;

    }

    &--fill {
      margin-top: 15px;
      margin-left: 2px;
    }

    &--contrast {
      margin-top: 15px;
      margin-left: 8px;
      margin-right: 27px;
    }
  }
}

.upload__icon--size {
  @media (min-width: 660px) {
    width: 24px;
    height: 24px;
    margin-top: -10px;
    margin-left: -21px;
  }

  @media (min-width: 960px) {
    width: 48px;
    height: 48px;
    margin-left: -10px;
  }
}

.upload__icon--fill {
  @media (min-width: 660px) {
    width: 26px;
    height: 26px;
    margin-top: 22px;
    margin-left: -20px;
    fill: $red-text;
  }

  @media (min-width: 960px) {
    width: 48px;
    height: 48px;
    margin-top: -10px;
    margin-left: -13px;
  }
}

.upload__icon--contrast {
  @media (min-width: 660px) {
    width: 17px;
    height: 17px;
    margin-top: 38px;
    margin-left: -18px;
    fill: $red-text;
  }

  @media (min-width: 960px) {
    width: 32px;
    height: 32px;
    margin-top: -30px;
    margin-left: -26px;
  }
}

.upload__scale {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
  height: 30px;

  &::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: -40px;
    width: 320px;
    height: 1px;
    border-bottom: 1.5px solid #dddfe0;;
    z-index: 20;
  }

  &:nth-of-type(1),
  &:nth-of-type(2) {
    display: none;
  }

  @media (min-width: 660px) {
    margin-top: 5px;
    margin-bottom: 0;

    &::after {
      width: 280px;
      left: -60px;
    }

    &:nth-of-type(1),
    &:nth-of-type(2) {
      display: block;
    }

    &:nth-of-type(2) {
      margin-top: 19px;
    }

    &:nth-of-type(3) {
      margin-top: 28px;
    }
  }

  @media (min-width: 960px) {
    margin-top: 2px;

    &::after {
      width: 410px;
      left: -92px;
    }


    &:nth-of-type(2) {
      margin-top: 18px;
    }

    &:nth-of-type(3) {
      margin-top: 13px;
    }
  }

}

.upload__input {
  -webkit-appearance: none;
  width: 240px;

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background-color: $color-text;

  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    margin-top: -6px;
    background-color: $base-color;
    border: 2px solid $red-text;
    border-radius: 50%;
    cursor: pointer;
  }

  &::-moz-range-track {
    -moz-appearance: none;
    width: 100%;
    height: 2px;
    background-color: $color-text;

  }

  &::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 2px solid $red-text;
    border-radius: 50%;
    cursor: pointer;
  }

  &::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;

  }

  &::-ms-fill-lower {
    background: $color-text;
  }
  &::-ms-fill-upper {
    background: $color-text;
  }

  &::-ms-thumb {
    width: 14px;
    height: 14px;
    background-color: $base-color;
    border: 2px solid $red-text;
    border-radius: 50%;
    cursor: pointer;
  }

  &:active::-moz-range-thumb {
    background-color: $red-text;
  }

  &:active::-webkit-slider-thumb {
    background-color: $red-text;
  }





  @media (min-width: 660px) {
    width: 200px;
  }

  @media (min-width: 960px) {
    width: 287px;
  }


}


