.user-data {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  border: none;

  &--network {
    padding-top: 34px;
    padding-bottom: 23px;
  }

  @media (min-width: 660px) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;

    &--network {
      padding-top: 0;
      padding-bottom: 28px;
      margin-top: 51px;
      border: 2px solid $color-border;
    }

  }

  @media (min-width: 960px) {
    width: 470px;
    height: 350px;

    &--network {
      width: 940px;
      height: 177px;
      margin: 0;
      padding: 0;
    }
  }

}

.user-data__wrap {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 660px) {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.user-data--network .user-data__title {
  @media (min-width: 660px) {
    display: block;
    text-align: center;
    color: $red-text;
    text-transform: uppercase;
    padding: 0 30px;
  }
}

.user-data__wrapper--network {

  @media (min-width: 660px) {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  @media (min-width: 960px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
  }
}

.user-data__label {
  margin-left: 22px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: $red-text;

  @media (min-width: 660px) {
    margin-left: 0;
    margin-right: 14px;
  }
}

.user-data__input-wrap {
  width: 100%;
  height: 63px;
  margin-bottom: 17px;
  margin-top: 5px;

  @media (min-width: 660px) {
    margin: 0;
    width: 499px;
    margin-bottom: 48px;
    margin-left: 58px;
    position: relative;

    &:nth-of-type(2) {
      width: 566px;
      margin-bottom: 46px;
    }

    &:nth-of-type(1) {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 3;
      margin-top: 0;
      width: 499px;
      margin-bottom: 49px;
    }

     &::after {
        content: "";
        position: absolute;
        top: 30px;
        right: 0;
        width: 62px;
        height: 60px;
        background-color: $color-border;
        border-radius: 2px;
        z-index: -1;
      }
  }

  @media (min-width: 960px) {
    width: 375px;

    &:nth-of-type(2) {
      width: 375px;
      order: 2;
      margin-left: 70px;
    }
  }
}

.user-data__input-wrap--phone {
  @media (min-width: 660px) {
    &::after {
      background-image: url(../img/icon-phone.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.user-data__input-wrap--email {
  @media (min-width: 660px) {
    &::after {
      background-image: url(../img/icon-mail.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.user-data__input {
  width: 280px;
  height: 63px;
  padding-left: 24px;
  margin-top: 5px;
  margin-bottom: 17px;
  font-size: 18px;
  border: 2px solid $color-border;
  border-radius: 2px;
  color: $color-text;

  &:nth-of-type(2) {
    width: 280px;
  }

  &::placeholder {
    color: $indigo;
  }

  &--network {
    margin-top: 0;
  }

  @media (min-width: 660px) {
    width: 525px;
    margin-bottom: 52px;
    margin-top: 0;

    &:nth-of-type(2) {
      width: 566px;
    }

    &--network {
      order: 1;
      margin: 0 auto;
      margin-top: 30px;
      width: 438px;
      padding-left: 18px;
      padding-right: 60px;
    }

    &--network:nth-of-type(2) {
      order: 3;
      width: 500px;
      margin-top: 29px;
      margin-bottom: 0;
    }
  }


  @media (min-width: 960px) {
    width: 340px;
    padding-left: 22px;
    margin-top: 4px;
    margin-bottom: 50px;

    &:nth-of-type(2) {
      width: 383px;
      order: 2;
      margin-bottom: 47px;
    }

    &:nth-of-type(3) {
      padding-left: 21px;
    }

    &--network {
      order: 1;
      position: relative;
      margin-top: 28px;
      width: 315px;
      padding-left: 20px;
    }


    &--network:nth-of-type(2) {
      width: 375px;
      margin-left: 15px;
      padding-left: 18px;
    }

  }
}

.user-data__input--network::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: $color-border;
  border-radius: 2px;
  z-index: 1;
  outline: 1px solid green;
}

.user-data__label-mobile {
  margin-left: 23px;
  text-transform: uppercase;
  color: $red-text;

  @media (min-width: 660px) {
    order: 2;
    margin-top: -9px;
    margin-left: 77px;

    &:nth-of-type(2) {
      order: 4;
    }
  }

  @media (min-width: 960px) {
    order: 3;
    margin-right: 240px;
    margin-top: -10px;

    &:nth-of-type(2) {
      order: 4;
    }

  }
}

.user-data__title {
  display: none;
}


