.container {
  width: auto;
  margin: 0 auto;
  padding: 0 20px;
}
.prices__container {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .container {
    width: auto;
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 130px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

* {outline: 1px solid red}

