
body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $color-text;
  background-color: $white-color;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.conteiner {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.post__conteiner {
  width: 320px;
  padding: 0 20px;
  background-color: $base-color;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
