@import "normalize.scss";
@import "base.scss";
@import "mixin.scss";
@import "variables.scss";
@import "fonts.scss";
@import "body.scss";
@import "blocks/achievements.scss";
@import "blocks/advantages.scss";
@import "blocks/scientific-data.scss";
@import "blocks/app-use.scss";
@import "blocks/app.scss";
@import "blocks/contacts.scss";
@import "blocks/content-main.scss";
@import "blocks/copyright.scss";
@import "blocks/footer-main.scss";
@import "blocks/header-main.scss";
@import "blocks/main-nav.scss";
@import "blocks/modal-message.scss";
@import "blocks/page-form.scss";
@import "blocks/post.scss";
@import "blocks/posts.scss";
@import "blocks/prices.scss";
@import "blocks/reviews.scss";
@import "blocks/review.scss";
@import "blocks/social.scss";
@import "blocks/upload.scss";
@import "blocks/user-data.scss";
